/* Font style import from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Readex+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap");

/* asterisk for whole web page */
* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

/* Bacl to top button */
.gotop {
  position: fixed;
  width: 35px;
  height: 35px;
  background: #00cecb;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: black;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 1px 1px 1em;
  transition: all 0.5 ease-in-out;
}
.gotop:hover {
  transition: all 0.5 ease-in-out;
  box-shadow: 2px 2px 2em;
  background: #00cecb;
  color: black;
}
/* Ends here */

/* Navigation bar */
.navbar-nav a {
  /* font-family: ; */
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  font-family: "Readex Pro", sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link .active,
.navbar-light .navbar-nav .nav-link .show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #adb5bd;
}
.navbar-light .navbar-nav .nav-link {
  color: #adb5bd;
}
.navbar-nav {
  padding: 0.2rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
  transition: all 0.4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
}
.w-100 {
  height: 100vh;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
nav {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: 20px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.dropdown-item {
  transition: all 0.2s ease-in-out;
}
.dropdown-item:hover {
  background: black;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.activepage {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(322deg, #9f00ff 0%, #0093ff 100%);
  border-image-slice: 1;
}
/* Ends here */

/* Footer */
.footer-ff {
  background: #1d3557;
  color: #00cecb;
}
.footer-ff p {
  color: #adb5bd;
}
.iconbtn {
  font-size: 25px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.iconbtn {
  transition: all 0.2s ease-in-out;
  color: #adb5bd;
  background: #1d3557;
}
.iconbtn:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}
.iconhover a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #adb5bd;
}
.iconhover a:hover {
  padding-left: 18px;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
/* Ends here */

/* banner */
.bannerbk {
  background: url(../images/pagesped.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  background-position-y: 800px;
}
.bannerbk::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
}
/* Ends here */

/* Linear gradient color for all the title word */
.colorbutton {
  background: linear-gradient(322deg, #9f00ff 0%, #0093ff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/* Ends here */

/* Icons styling */
#icons {
  font-size: 50px;
  color: #9f00ff;
  background: linear-gradient(322deg, #9f00ff 0%, #0093ff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/* Ends here */

/* Linear gradient button */
.divmore {
  background: linear-gradient(322deg, #9f00ff 0%, #0093ff 100%);
  color: white;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.divmore:hover {
  box-shadow: 2px 2px 1em;
  transition: all 0.3s ease-in-out;
  color: black;
  text-decoration: none;
}
/* Ends here */

/* 1st right box */
.inner-rightBox {
  box-shadow: 1px 1px 1em;
  border-radius: 20px;
}
/* Ends here */

/* Some boc background styling  */
.bkbackground {
  background: rgba(0, 0, 0, 0.1);
}
/* Ends here */

/* Pagination */
.pagination a {
  width: 50px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3 linear;
  transition: all 0.4s ease-in-out;
}
.pagination a:hover {
  color: #00cecb;
  background: #1d3557;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.activel {
  border-radius: 20px;
  background: #1d3557;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
/* Ends here */

/* Pagination hover effect */
.bar {
  position: absolute;
  width: 50px;
  height: 5px;
  background: #00cecb;
  bottom: 0;
  left: -300px;
  transition: 0.6s ease-in-out;
  border-radius: 20px;
}
.pagination li:nth-child(1):hover ~ .bar {
  left: 413px;
}
.pagination li:nth-child(2):hover ~ .bar {
  left: 463px;
}
.pagination li:nth-child(3):hover ~ .bar {
  left: 513px;
}
.pagination li:nth-child(4):hover ~ .bar {
  left: 563px;
}
.pagination li:nth-child(5):hover ~ .bar {
  left: 613px;
}
.pagination li:nth-child(6):hover ~ .bar {
  left: 663px;
}
/* ends here */

/* Breadcrumb */
.second a:hover {
  color: #1d3557;
}
.active-2 {
  background: linear-gradient(322deg, #9f00ff 0%, #0093ff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.second span {
  transition: all 0.3s ease-in-out;
}
.second span:hover {
  color: #1d3557;
  transition: all 0.3s ease-in-out;
}
.breadcrumb > li + li:before {
  content: "" !important;
}
.breadcrumb {
  padding: 19px;
  font-size: 14px;
  color: #aaa !important;
  letter-spacing: 2px;
  border-radius: 5px !important;
}
.fa,
i {
  color: rgb(0, 183, 255) !important;
  font-size: 10px;
}
.fa-angle-double-right {
  color: #aaa !important;
}
.first {
  background-color: white !important;
}
.black-text {
  text-decoration: none !important;
  color: #aaa !important;
}
.fa-caret-right,
.fa-angle-double-right {
  font-size: 15px !important;
}
.second {
  background: #fff;
}
/* Ends here */
